/*
 DOCUMENTATION :
 Concaténation des fichiers scss. Il seront incorporés par /layouts/partials/head/stylesheet.html, après avoir été préparé en css par /layouts/partials/head/libsass.html

 Bootstrap a été mis "en dure" dans assets, plutot qu'un import depuis node_modules, pour pouvoir etre accessible depuis les sites de contenu sans qu'ils aient besoin de nodejs

 TODO: 
 - importer les sass bootstrap utilisés individuellement
 - checker l'utilité des autres import liés à hyas 
 */
 
 // Configuration
 @import "bootstrap/functions";
 /** Import theme variables */
 @import "common/variables";
 @import "common/custom_variables";

@import "bootstrap/variables";
@import "bootstrap/variables-dark";
@import "bootstrap/maps";
@import "bootstrap/mixins";
@import "bootstrap/utilities";


// Layout & components
@import "bootstrap/root";
@import "bootstrap/reboot";
@import "bootstrap/type";
// @import "bootstrap/images";
@import "bootstrap/containers";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
// @import "bootstrap/transitions";
@import "bootstrap/dropdown";
@import "bootstrap/button-group";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/card";
// @import "bootstrap/accordion";
// @import "bootstrap/breadcrumb";
// @import "bootstrap/pagination";
@import "bootstrap/badge";
// @import "bootstrap/alert";
// @import "bootstrap/progress";
// @import "bootstrap/list-group";
@import "bootstrap/close";
// @import "bootstrap/toasts";
@import "bootstrap/modal";
// @import "bootstrap/tooltip";
// @import "bootstrap/popover";
// @import "bootstrap/carousel";
// @import "bootstrap/spinners";
// @import "bootstrap/offcanvas";
// @import "bootstrap/placeholders";

// Helpers
@import "bootstrap/helpers";

// Utilities
@import "bootstrap/utilities/api";

/** Import theme styles */
// @import "common/fonts";
@import "common/global";
// @import "components/alerts";
@import "components/buttons";
// @import "components/code";

// @import "components/syntax";
// @import "components/comments";
// @import "components/forms";
@import "components/images";
@import "layouts/footer";
@import "layouts/header";
@import "layouts/pages";

// CUSTOM Cookbook import
@import "common/custom";
// @import "components/postcard";
@import "components/recipe-card";
@import "components/breadcrumb";
@import "components/inline-svg";
@import "../flatpickr/flatpickr.min";
@import "../multiselect/multi-select";

//
@import "common/print";

